{% extends 'base.html' %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <h2>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h2>
    <div>
        {% for product in products %}
            <div>
                <a href="{% url 'product_detail' product.id product.category.slug %}">
                    <img width="200px" src="{{ product.image.url }}" alt="{{ product.name }}">
                    <h3>{{ product.name }}</h3>
                </a>
                <p>{{ product.category.slug }}</p>
                <p>{{ product.price }}сом</p>
                
            </div>
        {% endfor %}
    </div>
{% endblock %}
